* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('assets/superfuckingcoolcursor.png'), auto;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background-color: #002155;
}

header {
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

h1, h2, h3 {
  color: #ffffff;
  margin-bottom: 1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: italic;
}
.red-papyrus {
  font-family: "Papyrus", sans-serif;
  color: red;
}